*{
    padding: 0;
    margin: 0;
}
/* google fonts css link */
body{
    font-family: 'Lato', sans-serif;
}
/* start-bannar-section */
.bannar{
    background-image: url(./img/pngwing\ 10.png);
    padding: 200px ;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 450px;
    position: relative;
    z-index: 1;

}
.bannar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(229, 84, 115, 0.10);
    z-index: -1;

}

.bannar-inner h2 {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 13px;
}
.bannar-inner p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}
button {
    border: none;
    text-transform: capitalize;
    background: #E55473;
    padding: 12px;
    color: white;
    border-radius: 5px;
}
/* bannar-section-end */
/* flowers-section-start */
.flowers{
    padding:100px 200px;

}
.flower-con{

}
.flower-con h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.flower-con p {
    text-align: center;
    line-height: 22px;
    margin-bottom: 10px;
}
.flower-main {
    margin-top: 79px;
    display: flex;
    gap: 30px;
}
.flower-box {
    background-color: #f2dee7;
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.flower-box img {
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.flowers h4 {
    font-size: 12px;
    margin-left: 75px;
    margin-top: 10px;
    border-bottom: 2px solid;
    width: 89px;
}
.flower-box-2{
    background-color: #E55473;
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.flower-box-2 img{
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.flower-box-3{
    background-color: gray;
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.flower-box-3 img{
    width: 109px;
    margin-top: 58px;
    height: 242px;

}
.flower-title{
    display: flex;
    position: relative;
}

h4.tree-flower {
    width: 95px;
    position: absolute;
    top: 0;
    left: 548px;
}
h4.pink-flower {
    margin-left: 181px;
}
/* flower-section-end */
/* servies-section-start */

.services-main {
    display: flex;
    padding: 10px 200px;
    justify-content: space-around;
    background-color: #2727270D;
    padding: 80px 0px;
    width: 850px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 59px;
}

.services-box small {
    position: relative;
    top: 25px;
    left: -78px;
    font-size: 7px;
}
.services-box img{
    width: 40px;

}
.services-box small {
    position: relative;
    top: 25px;
    left: -120px;
    font-size: 7px;
}
.ser-tile{
    display: flex;
    padding: 0px 200px;
}
/* services-section-end */
/* team-section-sart */
.team{
    padding: 100px 200px;
    background-color: #E554730D;
   

}
.team-main {
    display: flex;
    align-items: center;
    gap: 51px;
}

.teame-con h3 {
    font-size: 35px;
    margin-bottom: 13px;
}
.teame-con p {
    text-align: center;
    margin-bottom: 17px;
}
.teame-con span{
    color: #E55473;
}

.team-btnn {
    text-align: center;
    margin-left: 189px;
    padding: 13px 23px;
    border: none;
    text-transform: capitalize;
    background: #E55473;
    border-radius: 5px;
}
/* team-section-end */
/* social-section-start */
.social{
   
    text-align: center;

}
.social h4{
    font-size: 35px;
    margin-bottom: 11px;
}
.social p {
    font-size: 15px;
    margin-bottom: 30px;
}
.social-main{
    display: flex;
    gap: 35px;

}
.social-box{
    width: 259px;
    height: 318px;

}
.social-box img {
    width: 259px;
    height: 318px;
}
/* social-section-end */
/* form-section-start */
.form{
    padding: 100px 200px;

}
.form-main{
    background-image: url(./img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 78px 0;
    text-align: center;
}

.form-inner h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.form-inner h5 {
    font-size: 15px;
    margin-bottom: 21px;
}

.fo-btn {
    padding: 14px;
    border: none;
    border-radius: 6px;
    width: 50%;
}
/* form-section-end */
/* footer-section-start */
footer{
    padding: 40px;
    text-align: center;
    background-color: black;
    color: white;
}
footer h4 {
    font-size: 33px;
    margin-bottom: 10px;
}
footer h5 {
    font-size: 12px;
    margin-bottom: 10px;
}
footer h6{

}

footer span{
    color: #E55473;
}